{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Citation Generator Search Engine</h1>
    </div>
    <form method="POST">
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
                <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input name="query" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        </div>
    </form>
    <br>
    <a  class='btn btn-primary' 
        href="/inputPaper">
            Input Document
    </a>
    <br>
    <br>
    {% if query is not none and query|length > 0%}
    <h3><u>Closely Related Documents</u></h3>
    <br>
    {% endif %}
    {% if searchResults is not none %}
        {% for searchResult in searchResults %}
            <a  href="/query={{ query }},paper={{ searchResult[2] }}">
                <u>{{ searchResult[0] }}</u>
            </a>
            <p>{{ searchResult[1] }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}