{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Citation Generator Search Engine</h1>
    </div>
    <br>
    <br>
    <form method = "POST">
        <div class="form-group">
            <label for="text_input">Text Input:</label>
            <textarea
                    class="form-control"
                    rows="10"
                    name="text_input"
                    id="text_input">
                {{ text_input }}
            </textarea>
        </div>
        <br>
        <input type="submit" class='btn btn-primary' value="Submit Document"/>
    </form>
    <br>
    {% if searchResults is not none %}
        <h3><u>Closely Related Documents</u></h3>
        <br>
        {% for searchResult in searchResults %}
            <a  href="/query={{ query }},paper={{ searchResult[2] }}">
                <u>{{ searchResult[0] }}</u>
            </a>
            <p>{{ searchResult[1] }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}